.prompt-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 16px 16px;
  width: 100%;
  min-height: 136px;
  height: auto;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid #eceded;
  color: #0f1419;
}

