.activity-card {
    width: 100%;
    cursor: pointer;
    position: relative;
    .activity-card-header img {
        width: 100%;
        aspect-ratio: 720/303;
        object-fit: cover;
        display: block;
        border-radius: 12px;
    }
    .activity-card-tag {
        position:absolute;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        color:#f5fbff;
        font-size: 12px;
        line-height: 20px;
        padding: 4px 8px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.32);
        top: 8px;
        left: 8px;
    }
    .activity-card-content {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        padding: 0 8px;
        width: 100%;

        .activity-card-title {
            width: 100%;
            margin-bottom: 4px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
            color: #0f1418;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space: nowrap;
        }
        .activity-card-desc {
            font-size: 12px;
            line-height: 20px;
            color: #546571;
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .card-bottom {
            display: flex;
            gap: 8px;
            line-height: 28px;
            margin-top: 8px;
        }
        .activity-card-extra {
            display: inline-flex;
            align-items: center;
            line-height: 20px;
            gap: 4px;
            font-size: 12px;
            color: #FFA21E;
            background-color:#f9f2db;
            padding: 4px 8px 4px 5px;
            border-radius: 4px;
        }
        .activity-card-attend {
            font-size: 12px;
            line-height: 20px;
            color: #536471;
            background-color: #ebeced;
            border-radius: 4px;
            padding: 4px 8px;
        }
    }
}