.base-button {
    height: 34px !important;
    background-color: #feffff !important;
    border: 1px solid #f3f4f4 !important;
    border-radius: 8px !important;
    color: #919ca5 !important;
    font-size: 12px !important;
    font-weight: 450 !important;
    &:hover {
        background-color: #edeeee !important;
        border: 1px solid #e6e6e6 !important;
        color: #586774 !important;

    }
}
.button-active {
    color: #24292c !important;
    &:hover {
        color: #24292c !important;
    }
}
.content {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 4px;
    line-height: 1 !important;
}
.icon-wrapper {
    display: inline-flex !important;
    position: relative;
}
.check-icon {
    position: absolute;
    left: -4px;   // ⭐ 调整位置
    bottom: -2px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    // background-color: #feffff;
    color: #00cae0;
    border-radius: 50%;
   
}



