.base-button {
    height: 34px !important;
    background-color: #feffff !important;
    border: 1px solid #f3f4f4 !important;
    border-radius: 8px !important;
    color: #24292c !important;
    font-size: 12px !important;
    font-weight: 450 !important;
    &:hover {
        background-color: #edeeee !important;
        border: 1px solid #e6e6e6 !important;
        
    }
}
