.founder-tab {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;

    .slogan-title {
        font-size: 20px;
        line-height: 23px;
        font-weight: 600;
        color: #f5fbff;
        margin-bottom: 10px;
    }
    .slogan-attend {
        font-size: 12px;
        line-height: 12px;
        font-weight: 500;
        color: #f5fbff;
    }
        
}

@media (max-width: 600px) {
    .carousel {
        grid-column: span 1;
    }
}