.creativity-card {
    width: 280px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 40px;
    padding-top: 15px;
}
.guide-image {
    width: 250px;
    height: 140px;
    margin: 0 15px 15px;
    display: block;
    border-radius: 10px;
}
.guide-title {
    font-size: 13px;
    font-weight: 450;
    color: #34393d;
    margin: 0 15px;
}
.guide-desc {
    font-size: 13px;
    font-weight: 400;
    color: #929ca5;
    margin: 2px 15px 15px;
}