/* 1. 清除默认边距 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. html, body */
html, body, #root {
  height: 100%;
}

/* 3. body 基础设置 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
  background: #0f0f0f;
  color: #fff;
}

/* 4. 列表 */
ul, ol {
  list-style: none;
}

/* 5. a 标签 */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. 按钮 */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* 7. 图片 */
img {
  max-width: 100%;
  display: block;
}

:root {
  --alphanumeric-font-family: Montserrat, CapCut Sans, PingFang SC, Hiragino Sans GB, "Microsoft YaHei", Arial, sans-serif;
  --font-family: CapCut Sans,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}