    .tooltip-wrapper {
      position: relative;
      display: inline-flex;

      .custom-tooltip {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 11px 12px;
        background-color: #23252a;
        color: #fff;
        font-size: 12px;
        border-radius: 8px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0.2s;
        pointer-events: none;
        margin-bottom: 4px;
        z-index: 9999;

        
      }

      &:hover .custom-tooltip {
        opacity: 1;
        visibility: visible;
      }
    }