.sidebar {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 76px;
    box-sizing: border-box;
    padding: 20px 10px;
    // background-color: #80a6c7;

    .top-icon {
        width: 40px;
        height: 40px;
        &:hover {
            cursor: pointer;
        }
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 23px;
        color: #0f1419;
        .nav-menu-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon {
                font-size: 20px;
            }
            &:hover {
                cursor: pointer;
            }
            span {
                font-size: 11px;
                line-height: 18px;
                font-family: var(--alphanumeric-font-family);
            }
        }
    }
    .bottom-user-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .vip-tip {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            color: #00a1c3;
            font: 500 10px 'PingFang SC';
            gap: 7px;
            border: 1px solid #0000000d;
            border-radius: 8px;
            padding: 6px 1px 10px;
            width: 56px;
            .icon {
                font-size: 11px;
                margin-right: 2px;
            }
            &:hover {
                cursor: pointer;
                background: #e9eaeb;
            }
        }

        .user-avatar img{
            width: 24px;
            height: 24px;
            border-radius: 50%;
            &:hover {
                filter: brightness(0.8);
            }
        }

        .bottom-icon {
            font-size: 20px;
            color: #8f9aa3
        }
    }

    .tooltip {
        color: #10c0d5;
        cursor: pointer;
    }
}
    

