.prompt-input-area {
  display: flex;
  justify-content: flex-start;
  gap: 12px;

  .prompt-input-resource {
    width: 64px;
    height: 96px;
    background-color: #eceded;
  }

  .prompt-input-content {
    flex: 1;
    height: 96px;
    padding-right: 4px;
    background-color: #eceded;
  }
}
