.prompt-input-area {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  min-width: 0;

  .prompt-input-resource {
    flex: 0 0 64px;
    height: 96px;
    background-color: #eceded;
  }

  .prompt-input-content {
    flex: 1;
    min-width: 0;
    min-height: 96px;
    padding-right: 4px;
    background-color: #eceded;
  }
}
