.card-container {
    position: relative;
    padding: 22px 8px;
    margin: -12px 0;
}
.card {
    position: relative;
    width: 48px;
    height: 64px;
    box-sizing: border-box;
    border: 1px solid #f5fbff;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    
    
}
.delete-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
    padding: 1px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222429;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}
.card:hover .delete-icon {
    opacity: 1;
    visibility: visible;
}
.right-bottom-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 0.5px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 14px;
    right: 5px;
    &:hover {
        background-color: #e5e5e5;
        border-color: #dedede;
        cursor: pointer;
    }
}