.card {
    width: 48px;
    height: 64px;
    box-sizing: border-box;
    border: 1px dotted #0000000d;
    border-radius: 2px;
    background-color: #f1f2f2;
    color: #8c97a0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        background-color: #eceded;
        border-color: #e2e2e2;
    }
}
.card-text {
    font-size: 10px;
}
.card-tooltip {
    background-color: #23252a !important;
    color: #e2e7eb !important;
    font-size: 12px !important;
}
