.mode-select {
  background-color: #feffff !important;
  border: 1px solid #f1f2f2 !important;
  border-radius: 8px !important;
  font-size: 12px !important;
  line-height: 20px !important;
  font-weight: 450 !important;
  height: 36px !important;
  // color: #00a1c2 !important;
  &:hover {
    background-color: #f1f2f2 !important;
    border-color: #e6e6e6 !important;
  }
}
