.mode-select {
  color: #00a1c2 !important;
  background-color: #feffff !important;
  border: 1px solid #f1f2f2 !important;
  border-radius: 8px !important;
}
.mode-select-option {
  width: 200px !important; // 没起作用
}