.layout {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;

  .horizontal-sidebar {
    flex: 0 0 52px;
    padding: 20px 12px 8px;
  }
 }


 .main-content {
    flex: 1;
    min-width: 0;
    overflow: auto;
    background-color: #f8f9fa; 

    .left-space,
    .right-space {
      flex: 1;
    }
    .main-content-container {
      flex: 99999;
      min-width: 718px;
      box-sizing: border-box;
      padding: 0 clamp(26px, 5vh, 60px);
    }
 }
 .banner-info {
    background: linear-gradient(90deg,#f7f7ab,#b4ebf7);
    height: 38px;
    padding: 0 !important;
    :global(.semi-banner-content-wrapper) {
      height: 100%;
      align-items: center;
    }
    :global(.semi-banner-content) {
      height: 100%;
    }
    :global(.semi-banner-content-body) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    :global(.semi-banner-description) {
      margin: 0 !important;
    }
 }
