.layout {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
 }

 .main-content {
    flex: 1;
    overflow: auto;
    background-color: #f8f9fa; 
   //  f8e2e2
    max-width: 1295px;
    margin: 0 auto;
 }
